# GreenWood Project - Python Exercices: 

## Lists/tuples/Dictionnaries
---

In [2]:
import random
import pandas as pd
random.seed(55)

### Question 1

x is an integer.
Return x with its digits reversed

345 --> 543

In [3]:
x = 345

int(str(x)[::-1])

543

### Question 2

Given a list, return <code>true</code> if any value appears at least three times in list.

In [3]:
lst = [random.randrange(1, 12, 1) for i in range(15)]
lst

[2, 4, 3, 5, 2, 3, 5, 2, 6, 11, 8, 9, 7, 7, 9]

In [4]:
dupl = [lst.count(x) for x in lst]
#
any(x > 2 for x in set(dupl))

True

### Question 3

Given two integer lists , return a list of their intersection. Each element in the result must be unique.

In [7]:
lst_1 = [random.randrange(1, 10, 1) for i in range(10)]
lst_2 = [random.randrange(1, 20, 1) for i in range(8)]
lst_1,lst_2

([7, 6, 7, 9, 1, 5, 1, 4, 9, 1], [19, 15, 8, 2, 13, 8, 3, 17])

In [9]:
set(lst_1) & set(lst_2)

set()

### Question 4

Given a list, Build a data type where each value of our list refers to the number of its occurences

<code>lst = [2,3,2] ; data ={2:2,3:1}</code>

Hence, 2 shows up 2 times and 3 shows up 1 time.

In [11]:
lst = [random.randrange(0,10, 1) for i in range(8)]
lst

[6, 3, 3, 3, 6, 2, 4, 5]

In [12]:
dupl = [lst.count(x) for x in lst]
dupl

[2, 3, 3, 3, 2, 1, 1, 1]

In [13]:
d = {}
for key,val in zip(lst,dupl):
    d[key] = val
d

{6: 2, 3: 3, 2: 1, 4: 1, 5: 1}

### Question 5

Given a list, build a new list where we substract the product of the first and the last element from each element.

In [16]:
lst = [random.randrange(0,7, 1) for i in range(10)]
lst

[3, 1, 2, 5, 1, 6, 5, 5, 3, 6]

In [17]:
p = lst[0]*lst[-1]
[x-p for x in lst]

[-15, -17, -16, -13, -17, -12, -13, -13, -15, -12]

### Question 6

Write a Python script to concatenate following dictionaries to create a new one

In [18]:
dict1={1:10, 2:20}
dict2={3:30, 4:40}

In [20]:
{**dict1, **dict2}

{1: 10, 2: 20, 3: 30, 4: 40}

### Question 7

Write a Python program to multiply all the items in a dictionary.

In [1]:
dict3 = {1: 10, 2: 20, 3: 30, 4: 40}

In [2]:
result = 3
for key in dict3.keys():    
    dict3[key]=result * dict3[key] #  dict3[key] *= dict3
dict3

{1: 30, 2: 60, 3: 90, 4: 120}

### Question 8

Convert dictionnary of lists into list of lists

In [16]:
d = {'a' : [1, 0, 2], 'c' : [4, 2], 'b' : [1, 2]}

In [17]:
[val for key, val in d.items()]

[[1, 0, 2], [4, 2], [1, 2]]

### Question 9

Convert 2D list into 1D list

In [14]:
lst = [[1, 0, 2], [4, 2], [1, 2]]

In [19]:
[x for sub in lst for x in sub]

[1, 0, 2, 4, 2, 1, 2]

In [20]:
new = []
for sub in lst:
    for x in sub:
        new.append(x)
new

[1, 0, 2, 4, 2, 1, 2]

### Question 10

 Extract Unique values from dictionary values

In [4]:
d = {'a' : [0, 11, 12, 8],
             'c' : [10, 2, 9, 12],
             'e' : [1, 8, 12, 8],
             'b' : [1, 1, 5]}
d

{'a': [0, 11, 12, 8], 'c': [10, 2, 9, 12], 'e': [1, 8, 12, 8], 'b': [1, 1, 5]}

In [3]:
set([x for sub in d.values() for x in sub])

{0, 1, 2, 5, 8, 9, 10, 11, 12}

### Question 11

Build an adequate data type where the target currencies are linked to their relative pairs.

Example:
<code> 'CAD': 'CAD/JPY','CAD/CHF'</code>,...

In [23]:
currs = ["AUD/CAD","CHF/JPY","EUR/NZD","GBP/JPY","TRY/JPY","USD/NOK","AUD/CHF","EUR/AUD","EUR/SEK","GBP/NZD","USD/CAD",
"USD/SEK","AUD/JPY","EUR/CAD","EUR/TRY","GBP/USD","USD/CHF","USD/TRY","AUD/NZD","EUR/CHF","EUR/USD","NZD/CAD",
"USD/CNH","USD/ZAR","AUD/USD","EUR/GBP","GBP/AUD","NZD/CHF","USD/HKD","ZAR/JPY","CAD/CHF","EUR/JPY","GBP/CAD",
"NZD/JPY","USD/JPY","CAD/JPY","EUR/NOK","GBP/CHF","NZD/USD","USD/MXN"]

target = ['CAD','NZD','USD','AUD']

In [24]:
d = dict()
for key in target:
    d[key]=  []
d

{'CAD': [], 'NZD': [], 'USD': [], 'AUD': []}

In [25]:
for curr in currs:
    for key in target:
        if curr[:3] == key:
            #print(curr)
            d[key].append(curr)
d

{'CAD': ['CAD/CHF', 'CAD/JPY'],
 'NZD': ['NZD/CAD', 'NZD/CHF', 'NZD/JPY', 'NZD/USD'],
 'USD': ['USD/NOK',
  'USD/CAD',
  'USD/SEK',
  'USD/CHF',
  'USD/TRY',
  'USD/CNH',
  'USD/ZAR',
  'USD/HKD',
  'USD/JPY',
  'USD/MXN'],
 'AUD': ['AUD/CAD', 'AUD/CHF', 'AUD/JPY', 'AUD/NZD', 'AUD/USD']}

### Question 12

Let's consider 5 companies with their relative revenues, expenses and currency for each one.

1. Build an adequate data type to store all of these informations

In [1]:
companies =('A','C','D','B','E')
revenues = (3.18E12,7.22E9,6.54E11,5.12E10,4.89E9)
expenses = (8.18E5,9.22E7,9.54E11,6.12E12,9.11E10)
currencies = ('EUR','JPY','GBP','USD','CAD')

In [2]:
data = dict()
data['company'] = companies
data['revenues'] = revenues
data['expenses'] = expenses
data['currencies'] = currencies
data

{'company': ('A', 'C', 'D', 'B', 'E'),
 'revenues': (3180000000000.0,
  7220000000.0,
  654000000000.0,
  51200000000.0,
  4890000000.0),
 'expenses': (818000.0,
  92200000.0,
  954000000000.0,
  6120000000000.0,
  91100000000.0),
 'currencies': ('EUR', 'JPY', 'GBP', 'USD', 'CAD')}

In [3]:
# or
vals = (companies,revenues,expenses, currencies)
for key,val in zip(('company','revenues','expenses','currencies'),vals):
    data[key] = val
data

{'company': ('A', 'C', 'D', 'B', 'E'),
 'revenues': (3180000000000.0,
  7220000000.0,
  654000000000.0,
  51200000000.0,
  4890000000.0),
 'expenses': (818000.0,
  92200000.0,
  954000000000.0,
  6120000000000.0,
  91100000000.0),
 'currencies': ('EUR', 'JPY', 'GBP', 'USD', 'CAD')}

### Question 13

Result data are such as
<code> result = revenues - expenses</code>

Add result data.

In [4]:
data['results'] = tuple((x-y for x,y in zip(data['revenues'],data['expenses'])))
data

{'company': ('A', 'C', 'D', 'B', 'E'),
 'revenues': (3180000000000.0,
  7220000000.0,
  654000000000.0,
  51200000000.0,
  4890000000.0),
 'expenses': (818000.0,
  92200000.0,
  954000000000.0,
  6120000000000.0,
  91100000000.0),
 'currencies': ('EUR', 'JPY', 'GBP', 'USD', 'CAD'),
 'results': (3179999182000.0,
  7127800000.0,
  -300000000000.0,
  -6068800000000.0,
  -86210000000.0)}

## Question 14

Add new result data in USD where conversion rates are:

* USD/EUR: 0.85
* USD/JPY: 1.21
* USD/GBP: 0.81
* USD/CAD: 0.92

In [5]:
rates = [0.85,1.21,0.81,1,0.92]

In [30]:
data['results_USD'] = tuple(x*r for r,x in zip(rates,data['results']))

In [31]:
data

{'company': ('A', 'C', 'D', 'B', 'E'),
 'revenues': (3180000000000.0,
  7220000000.0,
  654000000000.0,
  51200000000.0,
  4890000000.0),
 'expenses': (818000.0,
  92200000.0,
  954000000000.0,
  6120000000000.0,
  91100000000.0),
 'currencies': ('EUR', 'JPY', 'GBP', 'USD', 'CAD'),
 'results': (3179999182000.0,
  7127800000.0,
  -300000000000.0,
  -6068800000000.0,
  -86210000000.0),
 'results_USD': (2702999304700.0,
  8624638000.0,
  -243000000000.00003,
  -6068800000000.0,
  -79313200000.0)}

In [24]:
pd.DataFrame(data)

  company      revenues      expenses currencies       results   results_USD
0       A  3.180000e+12  8.180000e+05        EUR  3.179999e+12  3.741176e+12
1       C  7.220000e+09  9.220000e+07        JPY  7.127800e+09  5.890744e+09
2       D  6.540000e+11  9.540000e+11        GBP -3.000000e+11 -3.703704e+11
3       B  5.120000e+10  6.120000e+12        USD -6.068800e+12 -6.068800e+12
4       E  4.890000e+09  9.110000e+10        CAD -8.621000e+10 -9.370652e+10

## Great job!