# GreenWood Project - Python Course: 

## Exercices Loops/Conditionnals statements - Part 1
---

In [3]:
import random
#import pandas as pd
random.seed(55)

<div class="alert alert-block alert-success">
<b>Bear in mind:</b> Use Conditionnal Statements
</div>

### Question 1
Given two lists a, b. Check if two lists have at least one element common in them.

In [4]:
a = [random.randrange(1, 8, 1) for i in range(10)]
b = [random.randrange(2, 15, 1) for i in range(10)]
a,b

([1, 2, 2, 6, 3, 7, 1, 6, 2, 3], [3, 7, 13, 12, 9, 10, 8, 8, 10, 8])

In [9]:
a_set.isdisjoint(b_set)

False

In [7]:
a_set = set(a)
b_set = set(b)
if len(a_set.intersection(b_set)) > 0:
    print(True)
else:
    print(False)

True

In [12]:
if not {}:
    print('ok')

ok

## Question 2

Check if an element occurs more than a certain number of times in the list.

Does 4 occur atleast 3 times ?

In [9]:
a = [random.randrange(1, 8, 1) for i in range(10)]
a

[3, 6, 4, 5, 7, 6, 1, 6, 3, 1]

In [7]:
out = False
for x in a:
    if x == 4 and a.count(x) >= 3:
        out = True
        break
    else:
        pass
out

False

## Question 3

1. Create a list for years from 2010 until 2020 except for 2011 and 2018.
2. Unorder the previous list with <code>random.shuffle()</code>,

Now write a code to sort the list without using <code>sort()</code>

In [29]:
lst = [y for y in range(2010,2020+1) if y not in [2011,2018]]
lst

[2010, 2012, 2013, 2014, 2015, 2016, 2017, 2019, 2020]

In [30]:
random.shuffle(lst)
lst

[2012, 2017, 2020, 2010, 2019, 2014, 2013, 2016, 2015]

In [75]:
i = 0
new = []

for x in range(len(lst)):
    while i < 8:
        if lst[i]> lst[i+1]:
            lst[i],lst[i+1] = lst[i+1],lst[i]
        else:
            pass
        i+=1
lst

[2010, 2012, 2014, 2015, 2013, 2017, 2016, 2019, 2020]

In [61]:
n = len(lst)
for i in range(n):
     for j in range(n - i - 1):
            if lst[j] > lst[j + 1]:
                lst[j], lst[j + 1] = lst[j + 1], lst[j]
lst

[2010, 2012, 2013, 2014, 2015, 2016, 2017, 2019, 2020]

In [33]:
number = 7
tries = 0

GameOver = False

while GameOver == False and tries < 3 :
    guess = int(input('Enter Guess'))
    tries += 1
    if guess == number:
        print('guess correct')
        GameOver == True
    elif guess > number:
        print('Higher, try again')
    elif guess < number:
        print('Lower,try again')
else:
    print('tries >=3')

Enter Guess13
Higher, try again
Enter Guess4
Lower,try again
Enter Guess3
Lower,try again
tries >=3

## Question 4

Let's consider 5 companies: 'T','Y','F','M','R' whith their relative staff number, managers number and cash flow (positive or negative).

1. Build a data type to store the companies infos where:

1.1. Companies full name must contain '_Corporate' except for 'R' and 'F' where it is '_Startup'

1.2. Staff Number is the comapany name position in the alphabet multiplied by 1000. 
    
    use **ord()** function which returns the number representing the unicode code of a specified character
    
1.3. Managers number in a company is the comapany name position in the alphabet added to 10 if the sum is less than 30, otherwise it is 45.

1.4. Cash flow is positive if company is a corporate and staff number is higher than 10000 or company is a startup and managers numbers is less than 40


2. Now that your you have built your data, print companies which cash flow is positive and managers are no more than 30.

In [47]:
d ={}
# Companies full name must contain '_Corporate' except for 'R' and 'F' where it is '_Startup'
letters = ['T','Y','F','M','R']
d['company'] = letters
lst = []
for x in d['company']:
    if x!='R' and x!='F':
        lst.append('{}'.format(x+'_Corporate'))
    else:
        lst.append('{}'.format(x+'_Startup'))

In [48]:
d['company'] = lst
d

{'company': ['T_Corporate',
  'Y_Corporate',
  'F_Startup',
  'M_Corporate',
  'R_Startup']}

In [49]:
# [f(x) if condition else g(x) for x in sequence]
['{}'.format(x+'_Corporate') if x!='R' and x!='F' else '{}'.format(x+'_Startup') for x in d['company']]

['T_Corporate_Corporate',
 'Y_Corporate_Corporate',
 'F_Startup_Corporate',
 'M_Corporate_Corporate',
 'R_Startup_Corporate']

In [50]:
# Staff Number is the comapany name position in the alphabet multiplied by 1000
d['staff'] = [1000*(ord(x[0])-65+1) for x in d['company']]
d

{'company': ['T_Corporate',
  'Y_Corporate',
  'F_Startup',
  'M_Corporate',
  'R_Startup'],
 'staff': [20000, 25000, 6000, 13000, 18000]}

In [51]:
# Managers number the comapany name position in the alphabet 
# added to 10 if the sum is less than 30, otherwise it is 45
d['managers'] = [10 + (ord(x[0])-65+1) if 10+(ord(x[0])-65+1)<30 else 45 for x in d['company']]
d

{'company': ['T_Corporate',
  'Y_Corporate',
  'F_Startup',
  'M_Corporate',
  'R_Startup'],
 'staff': [20000, 25000, 6000, 13000, 18000],
 'managers': [45, 45, 16, 23, 28]}

In [77]:
# Cash flow is positive if company is a corporate and staff number is higher than 10000
# or company is a startup and managers numbers is less than 40
d['CashFlow'] = ['Positive' if ('Corporate' in x and y> 10000) or ('Startup' in x and z >40) else 'Negative' for x,y,z in zip(d['company'],d['staff'],d['managers'])]
d

{'company': ['T_Corporate',
  'Y_Corporate',
  'F_Startup',
  'M_Corporate',
  'R_Startup'],
 'staff': [20000, 25000, 6000, 13000, 18000],
 'managers': [45, 45, 16, 23, 28],
 'CashFlow': ['Positive', 'Positive', 'Negative', 'Positive', 'Negative']}

In [53]:
#[val for key,val in d.items() if key =='managers' and val>30]
#{ key: value for key, value in d.items() if key == "managers" and value > 30}

{'company': ['T_Corporate',
  'Y_Corporate',
  'F_Startup',
  'M_Corporate',
  'R_Startup'],
 'staff': [20000, 25000, 6000, 13000, 18000],
 'managers': [45, 45, 16, 23, 28],
 'CashFlow': ['Positive', 'Positive', 'Negative', 'Positive', 'Negative']}

In [54]:
pd.DataFrame(d)

       company  staff  managers  CashFlow
0  T_Corporate  20000        45  Positive
1  Y_Corporate  25000        45  Positive
2    F_Startup   6000        16  Negative
3  M_Corporate  13000        23  Positive
4    R_Startup  18000        28  Negative

## Question 4

Given a list that contains numbers in the range from 1 to <code>a.length</code>.

Find the first duplicate number for which the second occurrence has the highest index

In [26]:
a = [2, 4, 1, 2, 4, 3]
a

[2, 4, 1, 2, 4, 3]

## Question 5

You are given an n x n 2D list.

Rotate it in clockwise direction.

In [1]:
a = [[1, 0, 1],
     [-1, -1, 0],
     [1, 0, 1]]

In [2]:
a_rot = [[1, -1, 1],
         [0, -1, 0],
         [1, 0, 1]]

In [11]:
# hint: how to grab one column; first column here
[a[i][0] for i in range(3)]

[0, -1, 0]

In [12]:
# second column
[a[i][1] for i in range(3)]

[0, -1, 0]

## Question 6

You have two lists of integers, a and b, and an integer target value v.

Determine whether there is a pair of numbers, where one number is taken from a and the other from b, that can be added together to get a sum of v.

Return true if such a pair exists, otherwise return false

In [29]:
a = [1, 13, 3]
b = [11, 21, 17, 40]
v = 53

## Question Optionnal

Sudoku is a number-placement game. The objective is to fill a <code>9 × 9</code> grid with numbers in such a way that each column, each row, and each of the nine <code>3 × 3</code> sub-grids that compose the grid all contain all of the numbers from 1 to 9 one time.

Implement an algorithm that will check whether the given grid of numbers represents a valid Sudoku puzzle according to the layout rules described above.

In [4]:
grid = [['.', '.', '.', '1', '4', '.', '.', '2', '.'],
        ['.', '.', '6', '.', '.', '.', '.', '.', '.'],
        ['.', '.', '.', '.', '.', '.', '.', '.', '.'],
        ['.', '.', '1', '.', '.', '.', '.', '.', '.'],
        ['.', '6', '7', '.', '.', '.', '.', '.', '9'],
        ['.', '.', '.', '.', '.', '.', '8', '1', '.'],
        ['.', '3', '.', '.', '.', '.', '.', '.', '6'],
        ['.', '.', '.', '.', '.', '7', '.', '.', '.'],
        ['.', '.', '.', '5', '.', '.', '.', '7', '.']]

In [ ]:
grid_2 = [['.', '.', '.', '.', '2', '.', '.', '9', '.'],
        ['.', '.', '.', '.', '6', '.', '.', '.', '.'],
        ['7', '1', '.', '.', '7', '5', '.', '.', '.'],
        ['.', '7', '.', '.', '.', '.', '.', '.', '.'],
        ['.', '.', '.', '.', '8', '3', '.', '.', '.'],
        ['.', '.', '8', '.', '.', '7', '.', '6', '.'],
        ['.', '.', '.', '.', '.', '2', '.', '.', '.'],
        ['.', '1', '.', '2', '.', '.', '.', '.', '.'],
        ['.', '2', '.', '.', '3', '.', '.', '.', '.']]

# Great Job!